.section-admin{
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(13, 13, 13);
}

.panel-sup{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.panel-is{
    min-width: 70%;
    min-height: 78vh;
    margin: 60px;
}

.admin-button-panel{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 8px 20px;
    border-radius: 5px;
    p{
        font-weight: 600;
        padding-left: 10px;
        margin: 0px;
    }
    text-transform: uppercase;
    margin: 20px;
}

.admin-button-panel:hover{
    background-color: black;
    color: white;
}

.car-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    width: 60vw;
    h1{
        font-size: x-large;
        font-weight: 800;
        padding: 30px;
    }
}
.admin-form{
    padding-bottom: 60px;
}

.button-form{
    margin: 20px 0px;
}